*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.Contact{
    position:relative ;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTQqBX2RS5nMgA1sqlVrRjGbL8kjmreg3y-A&usqp=CAU);
}
.Contact .Content{
    max-width: 800px;
    text-align: center;
}
.Contact .Content h2{
font-size: 36px;
font-weight: 500;
color: #fff;
}
.Contact .Content p{
font-weight: 300;
color: #fff;
}
.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .ContactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .ContactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .ContactInfo .box .icon{
min-width: 60px;
height:60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;
}
.container .ContactInfo .box .text{
    display: flex;
    margin-left: 20px;
    color:#fff;
    flex-direction: column;
    
}
